<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>tate.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratedPoints</servlet-name>
        <servlet-class>tate.GeneratedPoints</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FirstWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratedPoints</servlet-name>
        <url-pattern>/GeneratedPoints</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstWS</servlet-name>
        <url-pattern>/FirstWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <soapenv:Envelope xmlns:dcs="http://lab8.dcs/" xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
        <soapenv:Header/>
        <soapenv:Body>
            <dcs:generateSequence>
                <function>0.5*log10(x)</function>
                <start>1</start>
                <end>3</end>
                <points>10</points>
                <stdDev>0.1</stdDev>
            </dcs:generateSequence>
            <ns2:generateSequenceResponse xmlns:ns2="http://lab8.dcs/">
                <return>0.0</return>
                <return>0.07</return>
                <return>0.14</return>
                <return>0.21</return>
                <return>0.28</return>
                <return>0.35</return>
                <return>0.42</return>
                <return>0.49</return>
                <return>0.56</return>
                <return>0.63</return>
            </ns2:generateSequenceResponse>
        </soapenv:Body>
    </soapenv:Envelope>
</web-app>
